* {
    box-sizing: border-box;
  }
  
  body {
    transition: 0.4s;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    height: 100vh;
    background-image: radial-gradient(
        circle at 13% 47%,
        rgba(140, 140, 140, 0.03) 0%,
        rgba(140, 140, 140, 0.03) 25%,
        transparent 25%,
        transparent 100%
      ),
      radial-gradient(
        circle at 28% 63%,
        rgba(143, 143, 143, 0.03) 0%,
        rgba(143, 143, 143, 0.03) 16%,
        transparent 16%,
        transparent 100%
      ),
      radial-gradient(
        circle at 81% 56%,
        rgba(65, 65, 65, 0.03) 0%,
        rgba(65, 65, 65, 0.03) 12%,
        transparent 12%,
        transparent 100%
      ),
      radial-gradient(
        circle at 26% 48%,
        rgba(60, 60, 60, 0.03) 0%,
        rgba(60, 60, 60, 0.03) 6%,
        transparent 6%,
        transparent 100%
      ),
      radial-gradient(
        circle at 97% 17%,
        rgba(150, 150, 150, 0.03) 0%,
        rgba(150, 150, 150, 0.03) 56%,
        transparent 56%,
        transparent 100%
      ),
      radial-gradient(
        circle at 50% 100%,
        rgba(25, 25, 25, 0.03) 0%,
        rgba(25, 25, 25, 0.03) 36%,
        transparent 36%,
        transparent 100%
      ),
      radial-gradient(
        circle at 55% 52%,
        rgba(69, 69, 69, 0.03) 0%,
        rgba(69, 69, 69, 0.03) 6%,
        transparent 6%,
        transparent 100%
      ),
      linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
      background-size: contain;
  }


  .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3em;
  }

  li {
      list-style-type: none;
  }

a {
    text-decoration: none;
    color: #5351fe;
}

form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }

.form-style {
    max-width: 600px;
    color: black;
    background: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    box-shadow: -2px 16px 45px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 16px 45px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 16px 45px 0px rgba(0, 0, 0, 0.75);
  }

  .form-style input[type="text"],
.form-style input[type="email"],
.form-style input[type="password"] {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(155, 11, 11, 0.904);
  border: 2px solid #cbd0da;
  border-radius: 5px;
  color: black;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

h2 {
    text-align: center;
}

#send-button {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #fff;
    margin-top: 20px;
    background: #5351fe;
    font-size: 19px;
    text-align: center;
    width: 100%;
    border: none;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    border-radius: 7px;
    box-shadow: 1px 5px 38px 0px rgba(83, 81, 254, 0.75);
    -webkit-box-shadow: 1px 5px 38px 0px rgba(83, 81, 254, 0.75);
    -moz-box-shadow: 1px 5px 38px 0px rgba(83, 81, 254, 0.75);
  }
  
  #send-button:hover {
    border: 2px solid #fff;
   animation-duration: 2s;
    cursor: pointer;
  }

  